/* keyboard copied from https://freefrontend.com/css-keyboards/ */

body {
    background: #c02425; 
    background: -webkit-linear-gradient(to right, #c02425, #f0cb35);
    background: linear-gradient(to right, #c02425, #f0cb35);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 512px;
    height: 32px;
    border: none;
    background: #c02425; 
    background: -webkit-linear-gradient(to right, #c02425, #f0cb35);
    background: linear-gradient(to right, #c02425, #f0cb35);
}

.keyboard {
    max-width: 1085px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}


.key {
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 14px;
}

.space {
    grid-column: span 13;
}